.button_type_like-card {
  background-image: url(../../../images/like.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
.button_type_like-card:hover {
  opacity: 0.5;
}
