.popup__paragraf_text_style {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 30px 0;
}
.popup__paragraf_text_style:last-of-type {
  margin-bottom: 0;
}
