.indent {
  margin: 0 auto;
  padding-top: 45px;
}
@media screen and (max-width: 1023px) {
  .indent {
    padding-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .indent {
    padding-top: 35px;
  }
}
@media screen and (max-width: 424px) {
  .indent {
    padding-top: 28px;
  }
}
