.profile__info_text_style {
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 424px) {
  .profile__info_text_style {
    text-align: center;
  }
}
